#top h1{
  display:inline-block;
  font-size:7vw;
  margin-top: 0px;
  margin-left: 7vw;
}
#top img{
  display:inline-block;
  width: 7vw;
  height: auto;
  position: absolute;
}
body{
  background:#f0f0f0;
}
.top_bar{
  background:#b8e9ff;
  padding:1em; 
  padding-right:99vw;
  display: flex; 
  align-items: center;
  position:absolute;
}
.top_bar h1 {
    margin-top:1vw;
    margin-top:1vw;
    margin-left: 75vw;
}
.top_bar input {
    margin-left: 75vw;
}
