body{
    background:#f0f0f0;
}
#top{
    margin-top: 1vw;
}
#top h1 {
    display: inline-block;
    font-size: 7vw;
    margin-top: 0px;
    margin-left: 7vw;
    margin-bottom: 0px;
}
#top img{
    display:inline-block;
    width: 7vw;
    height: auto;
    position: absolute;
}
.top_bar {
    background: #58ccff;
    padding: 1em;
    padding-bottom: 1.5em;
    position: absolute;
    top: 0px;
    z-index: -1;
    width: 100vw;
}
.top_bar h1 {
    display: inline-block;
    position: absolute;
    top: 1.5vw;
    left: 83vw;
}
.top_bar input {
    margin-left: 70vw;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
}
